[Unit]
Description=Genesis Universal Agent Service
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5
ExecStart=exordos-universal-agent --config-file /etc/exordos_universal_agent/exordos_universal_agent.conf

[Install]
WantedBy=multi-user.target
