name: build

on:
  push:
  workflow_dispatch:

env:
  PROJECT_NAME: genesis-base
  REPO_ENDPOINT_PUT: http://10.20.0.1:8082

jobs:
  Build:
    runs-on: self-hosted
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 30
      - name: Build Genesis Core
        run: |
          set -eux

          # Install DevTools
          rm -fr .venv && python3 -m venv .venv
          source .venv/bin/activate
          pip install genesis-devtools
          genesis build $(pwd)

          # Temporary upload step is done in the build script
          VERSION="$(genesis get-version .)"

          # Prepare `raw` and `raw.gz` images
          cd output
          qemu-img convert -f qcow2 genesis-base.qcow2 -O raw genesis-base.raw
          gzip -5 -k < genesis-base.raw > genesis-base.raw.gz

          # Upload the VM images
          curl -X PUT --upload-file genesis-base.qcow2 \
            ${REPO_ENDPOINT_PUT}/${PROJECT_NAME}/${VERSION}/genesis-base.qcow2
          curl -X PUT --upload-file genesis-base.raw.gz \
            ${REPO_ENDPOINT_PUT}/${PROJECT_NAME}/${VERSION}/genesis-base.raw.gz
          curl -X PUT --upload-file genesis-base.raw \
            ${REPO_ENDPOINT_PUT}/${PROJECT_NAME}/${VERSION}/genesis-base.raw

          sha256sum genesis-base.qcow2 >> SHA256SUMS
          sha256sum genesis-base.raw.gz >> SHA256SUMS
          sha256sum genesis-base.raw >> SHA256SUMS

          curl -X PUT --upload-file SHA256SUMS \
            ${REPO_ENDPOINT_PUT}/${PROJECT_NAME}/${VERSION}/SHA256SUMS
          cd -
